name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: true
          fetch-depth: 0

      - name: Generate Snake Animation
        uses: Platane/snk@v3
        with:
          github_user_name: rajanjha2004
          outputs: dist/github-contribution-grid-snake.svg

      - name: Create output branch and commit svg
        uses: ad-m/github-push-action@v0.6.0
        with:
          branch: output
          folder: dist
